#EA configuration file. Author: Bjørnar W. Alvestad
#Wed Feb 24 00:41:06 CET 2016
childPopRatio=1.0
mutationProb=0.001
tournamentEpsilon=0.8
mutationMode=PER_COMPONENT
rankExpMaximum=1.5
generationMax=1000
adultSelectionStrategy=FULL_REPLACEMENT
endConditionMode=MINIMUM_FITNESS
reproductionMode=SEXUAL
endCondMinFitness=1.0
rngSeedMode=AUTO_SEED
parentSelectionStrategy=TOURNAMENT_SELECTION
problem=onemax
rngSeed=123
tournamentSize=15
generationLimit=true
populationSize=400
crossoverProb=0.95
rankExpMinimum=0.5
#
bits=40